<h1>Comments for <%= @user.username %> </h1>

<% @comments.each do |comment| %>

<ul>
  <li><a href="/comments/<%= comment.id %>"><%= comment.content %></a></li>
</ul>

<% end %>

<a href='/create_comment'><button>Create Another Comment</button></a>