<h1>Here are the comments for <%= @user.username %></h1>

<% @comments.each do |c| %>
<ol>
  <li><%= c.content %></li>
  <a href='/comments/<%= c.id %>'><button>View Comment</button></a><br><br>
</ol>
<% end %><br><br>
