<h1>What's on your mind?</h1>

<form action='create_comment' method='POST'>
  Comment:
  <input type='text' name='comment'><br>
  
  
  <input type='submit' name='create_comment' id='create_comment'>
  
</form>