<%= @comment.content %><br>

<a href="/comments/<%= @comment.id %>/edit"><button>Edit Comment</button></a><br>
 <form method="POST" action="/comments/<%= @comment.id %>/delete">
   <input type="submit" value="Delete Comment">
 </form>
<a href="/comments"><button>Back To Comments</button></a>