<h1>Who do you want to talk about?</h1>

<form action='/teams' method='POST'>
  
<ul>
  <% @all_teams.each do |team| %>
  <li id="team_page"><button id="team"><a id="team" href='/teams/<%= team.id %>'><%= team.team_name %></a></button></li>
  <% end %>
</ul>

</form>

