<h1>Here are all of the teams in MLB!</h1>

<h2>Who is your team?</h2>

<h3>American League East:</h3>

<ul>
  <li>Baltimore Orioles</li>
  <li>Boston Red Sox</li>
  <li>New York Yankees</li>
  <li>Tampa Bay Rays</li>
  <li>Toronto Blue Jays</li>
</ul>

<h3>American League Central</h3>

<ul>
  <li>Chicago White Sox</li>
  <li>Cleveland Indians</li>
  <li>Detroit Tigers</li>
  <li>Kansas City Royals</li>
  <li>Minnesota Twins</li>
</ul>

<h3>American League West</h3>

<ul>
  <li>Houston Astros</li>
  <li>Los Angeles Angels</li>
  <li>Oakland Athletics</li>
  <li>Seattle Mariners</li>
  <li>Texas Rangers</li>
</ul>

<h3>National League East</h3>

<ul>
  <li>Atlanta Braves</li>
  <li>Miami Marlins</li>
  <li>New York Mets</li>
  <li>Philadelphia Phillies</li>
  <li>Washington Nationals</li>
</ul>

<h3>National League Central</h3>

<ul>
  <li>Cincinnati Reds</li>
  <li>Chicago Cubs</li>
  <li>Milwaukee Brewers</li>
  <li>Pittsburgh Pirates</li>
  <li>St Louis Cardinals</li>
</ul>

<h3>National League West</h3>

<ul>
  <li>Arizona Diamondbacks</li>
  <li>Colorado Rockies</li>
  <li>Los Angeles Dodgers</li>
  <li>San Diego Padres</li>
  <li>San Francisco Giants</li>
</ul>
