<h1>Who do you want to talk about?</h1>

<form action='/teams' method='POST'>
  
<h2>Who is your team?</h2>

<ul>
  <% @all_teams.each do |team| %>
  <li><a href='/teams/<%= team.id %>'><%= team.team_name %></a></li>
  <% end %>
</ul>

</form>

