<h1><%= @team.team_name %></h1>

<h2>What's on your mind?</h2>

<form action='/comments' method='POST'>
  Comment:<br>
  <input type='text' name='content'><br>
  <input type='submit' name='create_comment' id='create_comment'>
</form>


