 <h1>Please Create an Account</h1>

 <p>Please enter the info below: </p>
 <form method="POST" action="/create_account">
   <label>Username: </label><input type="text" name="username" id="username" require="true">
   <label>Email: </label><input type="text" name="email" id="email" require="true">
   <label>Password: </label><input type="text" name="password" id="password" require="true"><br>
   
   <input type="sumbit" value="Create Account">
  </form> 




