<h1>Please Enter Username and Password</h1>

  <form method='POST' action='/login'>
    <label>Username: </label><input type="text" name="username" id="username" require="true">
    <label>Password: </label><input type="text" name="password" id="password" require="true"><br>
    <input type="submit" value="Login">
  </form>
  
  <h2>Don't have an account?</h2>
  <a href="/create_account"><button>Click Here</button></a>